In [44]:
#Importing libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [45]:
#Pulling Data
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))[0]

#Obtaining PostalCode, Borough, and Neighborhood as list
Pos = df["Postal Code"].tolist()
Bor = df["Borough"].tolist()
Nei = df["Neighborhood"].tolist()

In [43]:
#Creating a data frame with the list of data
d = {'Postal Code':Pos,'Borough':Bor,'Neighborhood':Nei}
TorontoData = pd.DataFrame(d)
TorontoData.head(5)

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [49]:
#Copying the data, so as to not change the original data
TD = TorontoData
#Removing all the row with not assigned
TD=TD[TD.Borough != 'Not assigned']
TD.head(5)

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [47]:
#Resetting the index, and combining rows that have the same posta code
TD=TD.groupby('Postal Code')['Borough','Neighborhood'].agg(','.join).reset_index()
TD.head(5)

  Postal Code      Borough                            Neighborhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [53]:
#Checking to see if a cell has a borough but a Not assigned neighborhood
TD1 = TD[TD['Neighborhood'].str.contains("Not assigned")] 
TD1

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [54]:
TD.shape

(103, 3)